/* vim: ts=2 sts=2 sw=2 et
 */

/* Remove dimension limitations on content width and player */
div#primary, div#player-container-outer {
  max-width: none !important;
}

div.ytp-chrome-bottom {
  width: calc(100% - 24px) !important;
  left: 12px !important;
}

div.html5-video-container, div.html5-video-container > video {
  width: 100% !important;
  height: 100% !important;
  top: -100% !important;
}

/* Like/Dislike button styles */
div#top-level-buttons-computed {
  margin: 0px;
}

button {
  height: 100%;
  padding: 0px 16px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5em;

  border: none;
}

div#top-level-buttons-computed button {
  margin-left: 5px;
}

button.clickable {
  cursor: pointer;
}

button[aria-pressed="true"] {
  color: #000;
  background-color: #eee;
}

button[aria-pressed="false"] {
  color: #eee;
  background-color: #111;
  border: solid;
  border-color: #eee;
  border-width: 0.1em;
}
